#body {
  background: #222;
  /* url(./images/background.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 91.9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 3rem;
}

/* container around search, info and switch */
#widget {
  font-family: "Baloo Chettan 2", cursive;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* info panel */
#info {
  color: aliceblue;
  border-radius: 25px;
  box-shadow: 1px 1px 10px black;
  background: #343a40;
  width: 600px;
  height: 300px;
  display: grid;
  grid-template-areas:
    "iconw loc"
    "temp temp";
  grid-template-columns: 1fr 1fr;
}

#icon {
  grid-area: iconw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#icon img {
  margin-top: 40px;
  transform: scale(3);
}

#icon p {
  margin-top: 20px;
  font-size: 1.5rem;
}

#temp {
  grid-area: temp;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#loc {
  grid-area: loc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

/* searchbar  */
#search {
  margin: 20px;
  display: flex;
  height: 2rem;
  flex-direction: column;
}

.searchbar {
  margin-bottom: 10px;
  height: 60px;
  background-color: #343a40;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: #2196f3;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #2196f3;

  outline: 0;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  text-decoration: none;
}

/* switch  */
#switch-box {
  display: flex;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #343a40;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#loading {
  color: white;
  font-size: 2rem;
}

/* media query for smartphones */
@media (max-width: 768px) {
  #info {
    width: 90vw;
    height: fit-content;
    margin: 1vw 5vw;
    grid-template-areas:
      "iconw"
      "loc"
      "temp";
    grid-template-columns: 1fr;
  }

  #temp {
    margin-top: 30px;
    flex-direction: column;
  }

  .searchbar:hover > .search_input {
    width: 250px;
  }
}
