#body {
  background-image: url(./images/background.png);
  background-size: 100%;
  background-position: center;
  height: 91.9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 3rem;
}

#info {
  background: #ddd;
  width: 600px;
  height: 300px;
  display: grid;
  grid-template-areas:
    "iconw loc"
    "temp temp";
}

#search {
  margin: 20px;
  display: flex;
}

#icon {
  grid-area: iconw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#temp {
  grid-area: temp;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loc {
  grid-area: loc;
  display: flex;
  align-items: center;
  justify-content: center;
}
